@media only screen and (min-width: 1158px) {
/* #region header */
.container {
    width: 1158px;
    padding: 0 15px 0 15px;
  }

.logo {
    margin-right: 76px;
  }

  .header .container {
    display: flex;
    align-items: center;
    width: 1158px;
    padding: 0 15px 0 15px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: 156px;
    flex-grow: 1;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .header-item {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .header-address {
    padding-top:0px;
  }
  .header-address-link{
    font: 400 16px / 1.5 "Roboto", sans-serif;
  }
  /* #endregion /header */

  /* #region hero*/
  .hero .container{
    display:block;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  .hero-header {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
/* #endregion /hero*/
  /* #region /features*/
  /* #region /features*/
.features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    gap: 24px;
  }
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
  .feature-icon-container {

    display: flex;

  }
  .features-item-title {
    font: 500 20px / 1.2 "Roboto", sans-serif;
    text-align: start;
  }
 
  .feature-description {
    font: 400 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
  }
  /* #endregion /features*/

/* #region team*/
.team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  /* #endregion /team*/

/* #region portfolio*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
/* #endregion /portfolio*/

/* #region footer*/

  .footer {
    padding: 100px 0;
  }
  
  .footer .container {
    width: 1158px;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0;
    margin:0 auto;
}

  .social-footer {
    margin-left: 120px;
  }
  
  .subscribe {
    margin-left: 80px;
  }

  /* #endregion /footer*/

  /* #region modal*/
  
   /* #endregion /modal*/
}