body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  min-height: auto;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
/* #region header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header .container {
  display: flex;
  align-items: center;
  width: 1158px;
    padding: 0 15px 0 15px
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 156px;
  justify-content: space-between;
  flex-grow: 1;
}
.logo-black {
  color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-link {

  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-item-link:focus,
.header-item-link:hover {
  color: #404bbf;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-item-link {
  color: #2e2f42;
  padding: 24px 0 24px;
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-link:focus,
.header-address-link:hover {
  color: #404bbf;
}
.header-address-list-item {
}
.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion /header */

/* #region hero*/
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding-bottom: 188px;
  padding-top: 188px;
}
.hero-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 48px;
  max-width: 496px; 
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none; 
  border-radius: 4px; 
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion /hero*/

/* #region /features*/
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-title {
}
.features-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 72px) / 4); 
}
.features-item-title {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; 
}
.title {
}
.feature-description {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  
}
/* #endregion /features*/

/* #region team*/
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font: 700 36px / 1.11 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-card{
  padding: 32px 0 
  
}
.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-image {
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
.team-name {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px
}
.team-description {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion /team*/

/* #region portfolio*/
.portfolio{
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font: 700 36px / 1.11 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
}
.portfolio-card{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);

}
.portfolio-image {
  padding-bottom: 32px;
}
.portfolio-name {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px
}
.portfolio-description {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
}
/* #endregion /portfolio*/

/* #region footer*/
.footer {
  color: #ffffff;
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block; 
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 16px;
  width: 264px;
}


.logo-white {
  color: #f4f4fd;
}
/* #endregion /footer*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
