body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

a {
  text-decoration: none !important;
}

ul,
ol {
  list-style: none !important;
}
/* #region header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-black {
  color: #2E2F42;
}
.header {
}
.header-nav {
}
.header-link {
  color: #2E2F42;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-item-link:focus,
.header-item-link:hover {
  color: #404BBF;
}
.header-list {
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-item-link {
  color: #2e2f42;
}
.header-address {
  font-style: normal;
}
.header-address-list {
}
.header-address-link:focus,
.header-address-link:hover {
  color: #404BBF;
}
.header-address-list-item {
}
.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion /header */

/* #region hero*/
.hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero-header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
/* #endregion /hero*/

/* #region /features*/
.features {
}
.features-title {
}
.features-list {
}
.feature-item {
}
.features-item-title {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title {
}
.feature-description {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion /features*/

/* #region team*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font: 700 36px / 1.11 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-image {
}
.team-name {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-description {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion /team*/

/* #region portfolio*/
.portfolio {
}
.portfolio-title {
  font: 700 36px / 1.11 "Roboto", sans-serif;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-image {
}
.portfolio-name {
  font: 500 20px / 1.2 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-description {
  font: 400 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #434455;
}
/* #endregion /portfolio*/

/* #region footer*/
.footer {
  color: #ffffff;
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  line-height: 1.17
}
.footer-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-white{
  color: #f4f4fd
}
/* #endregion /footer*/
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
