@media only screen and (min-width: 768px) {
  /* #region header */
  .container {
    width: 768px;
    min-height: 72px;
  }
  .logo {
    margin-right: 120px;
    padding-top: 0;
  }
  .header {
    min-height: 72px;
  }
  .header .container {
    justify-content: none;
  }
  .header-list {
    display: flex;
  }
  .header-address {
    font: 400 12px / 1.16667 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #434455;
    display: flex;
    padding-top:16px;
  }
  .header-address-link{
    font: 400 12px / 1.16667 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #434455;
    display: flex;
  }

  .burger-nav {
    opacity: 0;
    pointer-events: none;
  }
  /* #endregion /header */
  /* #region hero*/
  .hero .container {
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }
  .hero-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
/* #endregion /hero*/

/* #region /features*/


.features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    min-height: 312px;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
  /* #region team*/
  .team-item{
    max-width: 264px;
  }
.team-list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 64px 24px;
    margin: 0;
    justify-content: center;
}

.team img{
    max-width: 264px;

}


}
